.App {
  text-align: center;
  font-family:"Poppins", sans-serif ;
}

.bold {
  font-weight: bold;
}

.collage {
  max-width: fit-content;
  align-self: center;
}

.header--body {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.header--body > h1, .header--body > p {
  text-align: left;
  padding-left: 25px;
  font-weight: 600;
  font-size: 36px;
}

.header--body > p {
  margin-top: 0;
  font-weight: 300;
  font-size: 16px;
  width: 320px;
}

.cards_section {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding:0px 20px;
}

.card {
  width: 180px;
  font-size: 12 px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  text-align: left;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--price {
  margin-top: auto;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14 px;
}

.logo {
  height: 40px;
}

.navbar {
  display: flex;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}